
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/


in/
out/
mandc-ecorange/
passport-sample/
unit_test/

.vagrant
__pycache__/

*.pyc
*.pyo
*.txt
*.json
*.dump
*.pickle
*.png
